* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;

    background-color: #1C1880;
}

.flex-container {
    flex: 67%;
    display: flex;
    flex-wrap: wrap;
}

.telemetry {
    flex: 75%;
    display: flex;

    justify-content: space-evenly;

    align-content: center;
}

.telemetry > .boat-diagram {
    height: 360px;

    align-self: center;
}

.telemetry > .telemetry-dashboard {
    height: 360px;

    align-self: center;
}

.alert-panel {
    flex: 25%;
    display: flex;
    flex-flow: column;

    background-color: #1E1E1E;
    font-family: Helvetica;
    color: white;
}

.alert-panel > .alert-panel-title {
    flex: 15%;
    display: flex;
    align-content: center;
    justify-content: center;

    font-size: 32;
}

.alert-panel > .alert-panel-list {
    flex: 85%;
    display: grid;
    grid-template-columns: 45px max-content;

    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.alert-panel-list > .alert-panel-item {
    align-self: center;
}

.telemetry-icon {
    width: 30px;
}

.controls {
    flex: 33%;
    display: flex;

    background-color: #5C5C5C;
}

.control-button {
    background-color: white;
    height: 80px;
    width: 180px;

    border: 4px solid #1E1E1E;
    border-radius: 22.5px;

    transition: 0.3s;
}

.control-button:hover {
    background-color: #CCC;
}

.control-button:active {
    background-color: #999;

    transition: 0.1s;
}

.left-section {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-section {
    flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rudder-slider {
    -webkit-appearance: none;
    width: 250px;
    background: transparent;

    background-color: transparent;
}

.rudder-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #1E1E1E;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background: #D9D9D9;
    cursor: grab;
}

.rudder-slider:active::-webkit-slider-thumb {
    cursor: grabbing;
}

.rudder-slider::-webkit-slider-runnable-track {
    width: 250px;
    height: 33px;
    background: white;
    border: 4px solid #1E1E1E;
    border-radius: 16.5px;
}

.rudder-slider:focus::-webkit-slider-runnable-trackk {
    background: white;
}

.rudder-slider:focus {
    outline: none;
}

.right-section {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.throttle-section {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.throttle-slider {
    -webkit-appearance: none;
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: middle;

    width: 80px;
    height: 180px;

    background-color: white;
    border: 4px solid #1E1E1E;
    border-radius: 22.5px;
}

.throttle-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #1E1E1E;
    height: 25px;
    width: 50px;
    border-radius: 12.5px;
    margin-left: -19px;
    background: #D9D9D9;
    cursor: grab;
}

.throttle-slider:active::-webkit-slider-thumb {
    cursor: grabbing;
}

.throttle-slider::-webkit-slider-runnable-track {
    width: 20px;
    height: 180px;
    background: #5C5C5C;
    border: 4px solid #1E1E1E;
    border-radius: 10px;
    margin: 20px;
}